<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poddycast-Mini</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./src/itunes.request.js"></script>
    <script>
        require('@popperjs/core')
        require('bootstrap')
    </script>
</head>
<body class="bg-dark text-secondary">
    <h1>Poddycast-Mini</h1>
    <div class="alert alert-warning" role="alert">
        A simple primary alert—check it out!
    </div>
    <p>
        We are using node
        <script>document.write(process.versions.node)</script>,
        Chrome
        <script>document.write(process.versions.chrome)</script>,
        and Electron
        <script>document.write(process.versions.electron)</script>.
    </p>
    <div id="app" class="p-3">
        
        <div class="form-floating mb-3">
            <input type="text" v-model="message" class="form-control" id="floatingInput" placeholder="Podcast">
            <label for="floatingInput">Search term</label>
        </div>
        <button class="btn btn-warning" v-on:click="calliTunes">Search iTunes</button>
        {{ message }}
    </div>

    <div id="app-4" class="p-3">
        Results
        <ul class="list-group">
            <li v-for="todo in todos" class="list-group-item list-group-item-action list-group-item-dark d-flex justify-content-between align-items-center">
                {{ todo.text }}
                <span class="badge bg-warning text-dark">+</span>
            </li>
        </ul>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'freakshow'
            },
            methods: {
                calliTunes: function () {
                    makeRequest(this.message)
                }
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        })
    </script>
</body>
</html>