<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poddycast-Mini</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./src/itunes.request.js"></script>
    <script>
        require('@popperjs/core')
        require('bootstrap')
    </script>
</head>
<body class="bg-dark text-secondary">
    <h1>Poddycast-Mini</h1>

    <div id="app" class="p-3">
        <div class="form-floating mb-3">
            <input type="text" v-model="message" class="form-control" id="floatingInput" placeholder="Podcast">
            <label for="floatingInput">Search term</label>
        </div>
        <button class="btn btn-warning" v-on:click="calliTunes">Search iTunes</button>
        <div>
            <div>
                Results
                ({{ resultcount }})
            </div>
            <ul class="list-group">
                <search-item
                    v-for="item in results"
                    v-bind:searchresult="item"
                    v-bind:key="item.id"
                ></search-item>
            </ul>

        </div>
    </div>

    <div class="fixed-bottom bg-dark">
        <span>Home</span>
        <span>Search</span>
        <span>Player</span>
        <span>History</span>
    </div>


    <script>
        Vue.component('search-item', {
            props: ['searchresult'],
            template: `
                <li class="list-group-item list-group-item-action list-group-item-dark">
                    <div class="row">
                        <div class="col-auto">
                            <img v-bind:src="searchresult.artworkUrl100" class="rounded shadow-sm" style="width: 50px">
                        </div>
                        <div class="col">
                            <p class="m-0">
                            {{ searchresult.collectionName }}
                            </p>
                            <small class="text-muted">{{ searchresult.artistName }}</small>
                        </div>
                    </div>
                </li>
            `
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: null,
                resultcount: 0,
                results: []
            },
            methods: {
                calliTunes: function () {
                    makeRequest(this)
                }
            }
        })
    </script>
</body>
</html>